In [2]:
import pandas as pd
import numpy as np

Loading Data

In [3]:
data = pd.read_csv('Resources/spam.csv', encoding = 'latin-1')
data.head()

,label,msg,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
list = ['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4']
data = data.drop(list, axis=1)

In [5]:
nham, nspam = data['label'].value_counts()
print('nham: ',nham)
print('nspam: ',nspam)

nham:  4825
nspam:  747

In [16]:
data = pd.ExcelFile('Resources/D1.xls')
sheet = data.parse(0)
sheet.head()

  Label        Address                                               Body
0   ham  +918500628915                      S.harsha-bjwada ,g.syam kumar
1   ham  +918619969269                                       Lift chei ra
2  spam  +919223274424        TRL WHA ICIWC3AE51D8A75B65062EFEE83B79BEA3B
3  spam  +919570088333  Check out Tez, a simple and secure payments ap...
4  spam      BA-611111  BSNL MOBILE offers STV-349 with Unlimited Voic...

In [17]:
nham, nspam = sheet['Label'].value_counts()
print('nham: ',nham)
print('nspam: ',nspam)

nham:  95
nspam:  64

In [18]:
data = pd.ExcelFile('Resources/D2.xls')
sheet = data.parse(0)
sheet.head()
nham, nspam = sheet['Label'].value_counts()
print('nham: ',nham)
print('nspam: ',nspam)

nham:  460
nspam:  236

In [21]:
data = pd.ExcelFile('Resources/D2.xls')
sheet = data.parse(0)
sheet.head()
nham, nspam = sheet['Label'].value_counts()
print('nham: ',nham)
print('nspam: ',nspam)

ParserError: Error tokenizing data. C error: Expected 2 fields in line 3, saw 18